# [Fundamental Python Data Science Libraries: A Cheatsheet (Part 2/4)](https://hackernoon.com/fundamental-python-data-science-libraries-a-cheatsheet-part-2-4-fcf5fab9cdf1)

by [Lauren Glass](https://www.linkedin.com/in/laurenjglass/), [Hackernoon](https://hackernoon.com/), Jan. 17, 2018

## pandas

This library is built on top of NumPy. It allows you to store & manipulate data in a relational table structure.

This library focuses on two objects: the Series (1D) and the DataFrame (2D). Each allow you to set:

- an index: that lets you find and manipulate certain rows
- column names: that lets you find and manipulate certain columns

In [2]:
import pandas as pd
import numpy as np

In [5]:
# Series
future_array1 = [1,2,3,4,5,6]
array1 = np.array(future_array1)
s = pd.Series(array1)

In [6]:
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
# DataFrame
future_array2 = [2,4,6,8,10,12]
array2 = np.array(future_array2)
df = pd.DataFrame([future_array1, future_array2])

In [8]:
df

   0  1  2  3   4   5
0  1  2  3  4   5   6
1  2  4  6  8  10  12

In [9]:
# Series from a dictionary
future_series = {0: 'A', 1: 'B', 2: 'C'}
s = pd.Series(future_series)

In [10]:
s

0    A
1    B
2    C
dtype: object

In [11]:
# DataFrame from dictionary
dict = {'Normal': ['A', 'B', 'C'], 'Reverse': ['Z', 'Y', 'X']}
df = pd.DataFrame(dict)

In [12]:
df

  Normal Reverse
0      A       Z
1      B       Y
2      C       X

In [16]:
# upload data from file: The keyword argument, index_col, is where you 
# can specify which column in your CSV should be the index in the DataFrame
#uploaded_data = pd.read_csv("filename.csv", index_col=0)

In [18]:
# Use the Index
dates = pd.date_range("20160101", periods=6)
data = np.random.random((6,3))
column_names = ['Column1', 'Column2', 'Column3']
df = pd.DataFrame(data, index=dates, columns=column_names)

In [19]:
df

             Column1   Column2   Column3
2016-01-01  0.808423  0.081638  0.053039
2016-01-02  0.897627  0.203192  0.159218
2016-01-03  0.526531  0.660068  0.707648
2016-01-04  0.719340  0.990726  0.884767
2016-01-05  0.789084  0.086363  0.277515
2016-01-06  0.725890  0.033551  0.706952

In [20]:
# Indexing a column
df['Column2'] # use the column name's string

2016-01-01    0.081638
2016-01-02    0.203192
2016-01-03    0.660068
2016-01-04    0.990726
2016-01-05    0.086363
2016-01-06    0.033551
Freq: D, Name: Column2, dtype: float64

In [21]:
# Indexing a row
df[0:2] # use the standard indexing technique

             Column1   Column2   Column3
2016-01-01  0.808423  0.081638  0.053039
2016-01-02  0.897627  0.203192  0.159218

In [22]:
df['20160101':'20160102'] # use the index's strings

             Column1   Column2   Column3
2016-01-01  0.808423  0.081638  0.053039
2016-01-02  0.897627  0.203192  0.159218

In [23]:
# Indexing multiple axes — names
df.loc['20160101':'20160102',['Column1','Column3']]

             Column1   Column3
2016-01-01  0.808423  0.053039
2016-01-02  0.897627  0.159218

In [24]:
# Indexing multiple axes — numbers
df.iloc[3:5, 0:2]

             Column1   Column2
2016-01-04  0.719340  0.990726
2016-01-05  0.789084  0.086363

In [25]:
# View Your Data
df.head(2) # first 2 rows

             Column1   Column2   Column3
2016-01-01  0.808423  0.081638  0.053039
2016-01-02  0.897627  0.203192  0.159218

In [26]:
df.tail(2) # last 2 rows

             Column1   Column2   Column3
2016-01-05  0.789084  0.086363  0.277515
2016-01-06  0.725890  0.033551  0.706952

In [27]:
# View summary statistics
df.describe()

        Column1   Column2   Column3
count  6.000000  6.000000  6.000000
mean   0.744482  0.342590  0.464857
std    0.124909  0.392315  0.344090
min    0.526531  0.033551  0.053039
25%    0.720977  0.082819  0.188792
50%    0.757487  0.144778  0.492234
75%    0.803588  0.545849  0.707474
max    0.897627  0.990726  0.884767

In [28]:
# Control Your Data
# Pandas brings the flexibility of SQL into Python.

In [29]:
# Sort
df.sort_index(axis=0, ascending=False) # sort using the index

             Column1   Column2   Column3
2016-01-06  0.725890  0.033551  0.706952
2016-01-05  0.789084  0.086363  0.277515
2016-01-04  0.719340  0.990726  0.884767
2016-01-03  0.526531  0.660068  0.707648
2016-01-02  0.897627  0.203192  0.159218
2016-01-01  0.808423  0.081638  0.053039

In [30]:
df.sort_values(by='Column2') # sort using a column

             Column1   Column2   Column3
2016-01-06  0.725890  0.033551  0.706952
2016-01-01  0.808423  0.081638  0.053039
2016-01-05  0.789084  0.086363  0.277515
2016-01-02  0.897627  0.203192  0.159218
2016-01-03  0.526531  0.660068  0.707648
2016-01-04  0.719340  0.990726  0.884767

In [31]:
# Join
dates1 = pd.date_range("20160101", periods=6)
data1 = np.random.random((6,2))
column_names1 = ['ColumnA', 'ColumnB']
dates2 = pd.date_range("20160101", periods=7)
data2 = np.random.random((7,2))
column_names2 = ['ColumnC', 'ColumnD']
df1 = pd.DataFrame(data1, index=dates1, columns=column_names1)
df2 = pd.DataFrame(data2, index=dates2, columns=column_names2)

In [32]:
df1.join(df2) # joins on the index

             ColumnA   ColumnB   ColumnC   ColumnD
2016-01-01  0.746930  0.734008  0.092691  0.163665
2016-01-02  0.611573  0.411262  0.875366  0.203166
2016-01-03  0.492165  0.672459  0.825705  0.254542
2016-01-04  0.240948  0.532136  0.091286  0.832240
2016-01-05  0.987710  0.263766  0.318329  0.375971
2016-01-06  0.514509  0.357336  0.326479  0.438899

In [33]:
# Group by
df3 = df1.join(df2)
# add a column to df to group on
df3['ProfitLoss'] = pd.Series(['Profit', 'Loss', 'Profit', 'Profit', 'Profit', 'Loss'], index=dates)

In [34]:
df3.groupby('ProfitLoss').mean()

             ColumnA   ColumnB   ColumnC   ColumnD
ProfitLoss
Loss        0.563041  0.384299  0.600922  0.321033
Profit      0.616939  0.550592  0.332002  0.406604

In [35]:
# Accessing Attributes

# Access the Index
df3.index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [36]:
# Access the Values
df3.values

array([[0.7469303528127471, 0.7340082636843026, 0.0926908786646139,
        0.16366507470439406, 'Profit'],
       [0.6115729359139677, 0.41126225004502703, 0.875365519818912,
        0.2031663532285113, 'Loss'],
       [0.4921649093944577, 0.6724593904706438, 0.8257046146451227,
        0.25454216998724166, 'Profit'],
       [0.24094848608430564, 0.532136020663796, 0.09128570234862221,
        0.83223960999853, 'Profit'],
       [0.9877103929616492, 0.26376580430104135, 0.3183286198611397,
        0.3759707511895132, 'Profit'],
       [0.5145085786657854, 0.357336107691396, 0.32647933682928854,
        0.4388992329725604, 'Loss']], dtype=object)

In [37]:
# Access the Columns
df3.columns

Index(['ColumnA', 'ColumnB', 'ColumnC', 'ColumnD', 'ProfitLoss'], dtype='object')